<template>
    <p>Meu nome é {{ name }}</p>
</template>

<script>
export default {
    name: 'LyfeCycle',
    data(){
        return {
            name: "Ainda não sei"
        }
    },
    created(){
        setTimeout(() => {
            this.name = "Diego"
        }, 1000);
    },
    mounted(){
        setTimeout(() => {
            this.name = "Feitoza"
        }, 2000)
    }
}
</script>