<template>
    <div>
        <h2>Olá Vue!</h2>
        <p>Meu nome é {{ name }} e eu tenho {{ age }} anos</p>
    </div>
</template>

<script>
    export default {
        name: "PrimeiroComponente",
        data() {
            return {
                name: "Mateus",
                age: "12"
            }
        }
    }
</script>
