<template>
  <div>
    <h1>Componente PrimeiroComponente.vue:</h1>
    <PrimeiroComponente />
    <h1>Componente LifeCycle.vue:</h1>
    <LifeCycle />
    <h1>Componente App.vue:</h1>
    <p>Testando data do componente App.vue: {{ test }}</p>
  </div>
</template>

<script>
  import PrimeiroComponente from './components/PrimeiroComponente.vue';
  import LifeCycle from './components/LifeCycle.vue';

  export default {
    name: 'App',
    components: {
      PrimeiroComponente,
      LifeCycle
    },
    data() {
      return {
        test: "teste"
      }
    }
  }
</script>
