<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form id="app-form">
            <input type="text" v-model="input_name" placeholder="Digite seu nome:">
            <input type="submit" value="Enviar" v-on:click="submitForm">
        </form>
        <p>Meu nome é: {{ name }}</p>
        <p>Data bind de input_name: {{ input_name }}</p>
    </div>
        
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./app.js"></script>
</body>
</html>